* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", "Sans-serif";
  background-color: #d5e1ef;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.attribution {
  padding: 16px;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  border-radius: 20px;
}

.img-box {
  height: 250px;
  margin-bottom: 20px;
}

.img-code {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-box {
  text-align: center;
}

.heading {
  font-size: 22px;
  font-weight: 700;
  line-height: 27.72px;
  color: #1f314f;
  margin-bottom: 20px;
}

.sub-heading {
  font-size: 15px;
  font-weight: 400;
  line-height: 18.9px;
  letter-spacing: 0.19px;
  color: #7d889e;
  padding-left: 5px;
  padding-right: 5px;
}
